{% extends '../app/base.html' %}
{% load static %}

{% block content %}
    <section class="flex carat__content">
        {% include "../components/card.html" with text="<b>Вес драгоценного камня по разному влияет на стоимость камней.</b><ol><li>Первая группа. Стоимость растет в геометрической прогрессии.</li><li>Вторая группа. Стоимость растет в арифметической прогрессии. Стоимость возрастает пока вес камня не достигнет веса, после которого камень сложно использовать в ювелирном деле (крупные камни из этой группы пререходят на рынок коллекционеров).</li></ol><br><p>Каждый камень имеет свой предел, встречающегося в природе веса. Поэтому шаг возрастания цены для множества камней будет отличаться. Например. Разница стоимости 1 каратного аметиста и 3 каратного аметиста, будет намного меньше стоимости 1 каратного рубина и 3 каратного рубина.</p> <p>Ниже мы приводим обобщенные данные о весе камня и примерное описание зависимости веса к стоимости.</p>" %}
        <figure><img src="{% static 'pages/img/carat.png' %}" alt=""></figure>
    </section>
    <link rel="stylesheet" type="text/css" href="{% static '/pages/css/carat.css' %}" />
{% endblock %}